<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Secret Secret, I Have a Secret</title>
</head>

<body>
    <h2>Hello, {{ request.session.current_user.first_name }}!
        <form style="display: inline-block;" action="{% url 'log_reg:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Logout">
        </form>
    </h2>
    {% if messages %} {% for message in messages %}
    <h2>{{ message }}</h2>
    {% endfor %} {% endif %}
    <form action="{% url 'secrets:add_secret' user_id=request.session.current_user.id current_page='index' %}" method="post">
        {% csrf_token %}
        <textarea name="secret" rows="8" cols="80" placeholder="Your secret here..."></textarea>
        <input type="submit" name="Post" value="Post">
    </form>
    <a href="{% url 'secrets:popular' %}">All Secrets by Popularity</a> {% if secrets %}
    <h2>Most Recent Secrets...</h2>
    {% for secret in secrets %}

    <p>{{ secret.post }}</p>
    <ul>
        <li>Posted {{ secret.created_at | timesince }} ago, <i>{{ secret.num_likes }} likes</i> {% if secret not in current_user.user_for_like.secret.all or not current_user.user_for_like.secret.all %}
            <a href="{% url 'secrets:add_like' user_id=request.session.current_user.id secret_id=secret.id current_page='index' %}">Like</a> {% else %} You like this! {% endif %} {% if secret.user.id == request.session.current_user.id %} <a href="{% url 'secrets:remove' secret_id=secret.id %}">Delete Secret</a>            {% endif %}</li>
    </ul>
    {% endfor %} {% endif %}

</body>

</html>